@import "../scss/_predefined.scss";
$textColor: #ffffff;

.admonition {
    display: none;
}
.monospace{
    font-family: monospace;
}
.prevent{
    cursor: crosshair;
    user-select: none;
    -webkit-user-select: none;
}
.socialLink {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "email email-link"
        "twitter twitter-link"
        "linkedin linkedin-link";
}

.email {
    grid-area: email;
}

.email-link {
    grid-area: email-link;
}

.twitter {
    grid-area: twitter;
}

.twitter-link {
    grid-area: twitter-link;
}

.linkedin {
    grid-area: linkedin;
}

.linkedin-link {
    grid-area: linkedin-link;
}

.formdisable{
    pointer-events:none;
}
.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "message"
        "captcha"
        "submit";
    -webkit-box-shadow: 0px 0px 50px -1px $dark-grey;
    -moz-box-shadow: 0px 0px 50px -1px $dark-grey;
    box-shadow: 0px 0px 50px -1px $dark-grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    & * {
        font-family: monospace, monospace;
        font-size: large;
    }

    & input,
    textarea {
        padding: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        outline: 0;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: $textColor;
        background: $dark-grey;
    }

    & div {
        & span {
            display: none;
        }
    }
}

.message {
    grid-area: message;
    padding: 10px 20px 0 20px;

    & textarea {
        width: 100%;
        resize: vertical;
        min-height: 80px;
        max-height: 400px;
        font-weight: bold;
    }
}

.captcha {
    grid-area: captcha;
    padding: 0 20px;

    >input {
        width: 100%;
    }

    >#captchaCanvas {
        width: 300px;
        height: 80px;
        border: none;
        border-radius: 15px;
        background-color: $midnightblue;
    }

    >#refresh {
        outline: 0;
        border: none;
        cursor: pointer;
        background: transparent;
        margin: 0;
        position: relative;
        top: -25%;
    }
}

.submit {
    text-align: center;
    padding: 20px 0;

    >button {
        width: 95%;
        outline: 0;
        border: 2px solid $theme;
        height: 50px;
        color: $textColor;
        cursor: pointer;
        border-radius: 5px;
        background: linear-gradient(to right, $highlight-grey, $highlight-grey);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 1s 0s;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            height: 50px;
            border: 2px solid $textColor;
            background-size: 100% 100%;
            color: $text;
        }

        &:disabled {
            background: $dark-grey;
            color: white;
        }
    }
}