// Default Colors
$theme: hsl(172, 99%, 26%) !default;
$text: hsl(204, 28%, 93%) !default;
$light-grey: #121318 !default;
// $light-grey: #494f5c !default;
$dark-grey: #1B1E25 !default;
// $dark-grey: #3b3e48 !default;
$highlight-grey: #7d828a !default;
$midnightblue: #2c3e50 !default;
$typewriter: hsl(172, 100%, 36%) !default;
$codebackground: #272822 !default;
$pagescrollbar-thumb: hsl(0, 0%, 53%) !default;

// Scroll to Top Default colors
$stt-stroke: $dark-grey !default;
$stt-circle: $light-grey !default;
// $stt-circle: #3b3e48 !default;
$stt-arrow: #018574 !default;

//Admonition colors
$admonition-background: (
    "note": rgba(68, 138, 255, 0.1),
    "info": rgba(0, 184, 212, 0.1),
    "tip": rgba(0, 191, 165, 0.1),
    "success": rgba(0, 200, 83, 0.1),
    "warning": rgba(255, 145, 0, 0.1),
    "failure": rgba(255, 82, 82, 0.1),
    "danger": rgba(255, 23, 68, 0.1),
    "bug": rgba(245, 0, 87, 0.1),
    ) !default;

$admonition-color: (
    "note": #448aff,
    "info": #00b8d4,
    "tip": #00bfa5,
    "success": #00c853,
    "warning": #ff9100,
    "failure": #ff5252,
    "danger": #ff1744,
    "bug": #f50057,
    ) !default;