<button id="share-btn" class="hdr-btn" title="{{i18n "share"}}">{{- partial "svg.html" (dict "context" . "name" "share") -}}</button>
 
<div id="share-links" class="animated fast">
    {{ $title := .Title }}
    {{ $url := printf "%s" .Permalink }}
    {{ $author := .Params.author | default .Site.Params.author.name }}
    {{ $description := .Params.description | default .Site.Params.description }}
    {{ $summary := print $title ", by " $author "\n\n" $description }}
    <ul>
        <li>
            <a href="https://twitter.com/intent/tweet?hashtags=blzr,BLZR_0&amp;url={{ $url }}&amp;text={{ $title }}" target="_blank" rel="noopener" aria-label="Share on X">{{- partial "svg.html" (dict "context" . "name" "x") -}}</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $url }}&amp;source={{ .Site.BaseURL }}&amp;title={{ $title }}&amp;summary={{ $summary }}" target="_blank" rel="noopener" aria-label="Share on LinkedIn">{{- partial "svg.html" (dict "context" . "name" "linkedin") -}}</a>
        </li>
        <li>
            <a href="https://telegram.me/share/url?text={{ $title }}&amp;url={{ $url }}" target="_blank" rel="noopener" aria-label="Share on Telegram">{{- partial "svg.html" (dict "context" . "name" "telegram") -}}</a>
        </li>
        <li>
            <a href="mailto:?subject={{ $title }}&amp;body={{ $summary }} {{ $url }}" target="_self" rel="noopener" aria-label="Share on Email">{{- partial "svg.html" (dict "context" . "name" "email") -}}</a>
        </li>
        <li>
            <a href="#" onclick="linkShare({{ $title }},{{ $url }},{{ $summary }}); return false;" target="_self" rel="noopener" aria-label="Copy Link">{{- partial "svg.html" (dict "context" . "name" "share_2") -}}</a>
        </li>
    </ul>
</div>