{{- template "_internal/schema.html" . -}}
<meta property="twitter:domain" content="{{ .Site.BaseURL }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:logo" content="android-chrome-256x256.png"/>
<meta property="twitter:url" content="{{ .Permalink }}">
{{- with or site.Title site.Params.title | plainify -}}<meta property="og:site_name" content="{{ . }}"/>{{- end -}}
{{- with or .Title site.Title site.Params.title | plainify -}}
<meta property="og:title" content="{{ . }}"/>
<meta property="twitter:title" content="{{ . }}"/>
{{- end -}}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp -}}
<meta property="og:description" content="{{ . }}"/>
<meta property="twitter:description" content="{{ . }}"/>
{{- end -}}

{{- with or .Params.locale site.Language.LanguageCode -}}
<meta property="og:locale" content="{{ replace . `-` `_` }}"/>
{{- end -}}

{{- if .IsPage -}}
<meta property="og:type" content="article"/>
  {{- with .Section -}}
<meta property="article:section" content="{{ . }}"/>
  {{- end -}}
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- with .PublishDate -}}
<meta property="article:published_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}/>
  {{- end -}}
  {{- with .Lastmod -}}
<meta property="article:modified_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}/>
  {{- end -}}
  {{- range .GetTerms "tags" | first 6 -}}
<meta property="article:tag" content="{{ .Page.Title | plainify }}"/>
  {{- end -}}
{{- else -}}
<meta property="og:type" content="website"/>
{{- end -}}
{{ $base := resources.Get "og_base-min.jpg" }}
{{- if .IsPage -}}
    {{ $img := $base.Filter (images.Text .Page.Title (dict
        "color" "#ffffff"
        "size" 64
        "linespacing" 2
        "x" 400
        "y" 150
      )) -}}
      {{- $img = $img.Filter (images.Text .Page.Description (dict
        "color" "#a9cec2"
        "size" 32
        "linespacing" 2
        "x" 400
        "y" 350
      )) -}}
      {{- $img = resources.Copy (path.Join .Page.RelPermalink "og.jpg") $img -}}
<meta property="og:image" content="{{$img.Permalink}}"/>
<meta property="twitter:image" content="{{$img.Permalink}}"/>
<meta property="og:image:width" content="{{$img.Width}}" />
<meta property="og:image:height" content="{{$img.Height}}" />
{{- else if .IsHome -}}
{{ $img := $base.Filter (images.Text .Page.Title (dict
  "color" "#ffffff"
  "size" 64
  "linespacing" 2
  "x" 400
  "y" 200
)) -}}
{{- $img = $img.Filter (images.Text .Site.Params.Description (dict
  "color" "#a9cec2"
  "size" 32
  "linespacing" 2
  "x" 400
  "y" 350
)) -}}
{{- $img = resources.Copy (path.Join .Page.RelPermalink "og.jpg") $img -}}
<meta property="og:image" content="{{$img.Permalink}}"/>
<meta property="twitter:image" content="{{$img.Permalink}}"/>
<meta property="og:image:width" content="{{$img.Width}}" />
<meta property="og:image:height" content="{{$img.Height}}" />
{{- else if ne .Title "404 Page not found" -}}
{{ $img := $base.Filter (images.Text (substr (printf "%s" .RelPermalink) 0 -1) (dict
  "color" "#ffffff"
  "size" 64
  "linespacing" 2
  "x" 400
  "y" 200
)) -}}
{{- $img = resources.Copy (path.Join .Page.RelPermalink "og.jpg") $img -}}
<meta property="og:image" content="{{$img.Permalink}}"/>
<meta property="twitter:image" content="{{$img.Permalink}}"/>
<meta property="og:image:width" content="{{$img.Width}}" />
<meta property="og:image:height" content="{{$img.Height}}" />
{{- end -}}
{{- with partial "_funcs/get-page-images" . -}}
{{- range . | first 6 -}}
<meta property="og:image" content="{{ .Permalink }}"/>
<meta property="twitter:image" content="{{ .Permalink}}"/>
{{- end -}}
{{- end -}}
{{- with site.Params.social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{- end -}}

{{- with .Params.audio -}}
  {{- range . | first 6  -}}
<meta property="og:audio" content="{{ . | absURL }}"/>
  {{- end -}}
{{- end -}}

{{- with .Params.videos -}}
  {{- range . | first 6 -}}
<meta property="og:video" content="{{ . | absURL }}"/>
  {{- end -}}
{{- end -}}

{{- range .GetTerms "series" -}}
  {{- range .Pages | first 7 -}}
    {{- if ne $ . -}}
<meta property="og:see_also" content="{{ .Permalink }}"/>
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with site.Params.social -}}
  {{- if reflect.IsMap . -}}
    {{- with .facebook_app_id -}}
<meta property="fb:app_id" content="{{ . }}"/>
    {{- else -}}
      {{- with .facebook_admin -}}
<meta property="fb:admins" content="{{ . }}"/>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}