{{$type := .Get "section"}}
{{- if eq $type "form" -}}
<form id="contact-form" name="contact-form" class="contact-form formdisable" onsubmit="return false">
  <div class="message">
    <textarea id="message" class="form-input" name="message" required="required" aria-describedby="messageHelpBlock" title="Enter your message/query (Required)">Hi BLZR,&#13;&#10;</textarea> 
    <span id="messageHelpBlock">Enter your message/query (Required)</span> 
  </div>
  <div class="captcha">
    <canvas id="captchaCanvas" title="Why are you hovering on CAPTCHA challenge?" height=80>Don't be a dork, Enable JavaScript</canvas>
    <button id="refresh" name="refresh" onclick="generateCaptcha()">⟳</button>
    <input id="captchaText" class="form-input" name="CAPTCHA" placeholder="Enter text above" maxlength="7" type="text" required="required" aria-describedby="CAPTCHAHelpBlock" title="Enter CAPTCHA text above (Required)"> 
    <span id="CAPTCHAHelpBlock">CAPTCHA Test (Required)</span>
  </div>
  <div class="submit">
    <button id="submit" name="submit" onclick="sendMessage()">Send</button>
  </div>
</form>
{{- else -}}
<div class="socialLink">
  <div class="email">{{ partial "svg.html" (dict "context" . "name" "email") }}</div>
  <div id="email-link" class="email-link monospace prevent">
    <span class="blur" title="Shoot me an Email">xxxxxxx</span>@blzr.sbs
  </div>
  <div class="twitter">{{ partial "svg.html" (dict "context" . "name" "x") }}</div>
  <div id="twitter-link" class="twitter-link monospace prevent" title="Follow me on Twitter(Now, 𝕏)">@BLZR_0</div>
  <div class="linkedin">{{ partial "svg.html" (dict "context" . "name" "linkedin") }}</div>
  <div id="linkedin-link" class="linkedin-link monospace prevent" title="Follow me on LinkedIn">ristik-majumdar</div>
</div>
{{- end -}}